import 'package:flutter/material.dart';
{{#AUTO_ROUTE}}
import 'package:auto_route/auto_route.dart';
{{/AUTO_ROUTE}}

import 'package:{{PACKAGE_NAME}}/core/utils/app_logger.dart';

/// Route observer that tracks screen views for analytics.
///
/// Wire a real [AnalyticsService] when ready. Currently logs to debug console.
{{#GO_ROUTER}}
class AnalyticsObserver extends NavigatorObserver {
  @override
  void didPush(Route<dynamic> route, Route<dynamic>? previousRoute) {
    super.didPush(route, previousRoute);
    _trackScreen(route.settings.name);
  }

  @override
  void didReplace({Route<dynamic>? newRoute, Route<dynamic>? oldRoute}) {
    super.didReplace(newRoute: newRoute, oldRoute: oldRoute);
    if (newRoute != null) _trackScreen(newRoute.settings.name);
  }

  void _trackScreen(String? name) {
    if (name != null) {
      // TODO: wire to AnalyticsService.trackScreen(name)
      AppLogger.d('[Analytics] Screen: $name');
    }
  }
}
{{/GO_ROUTER}}
{{#AUTO_ROUTE}}
class AnalyticsObserver extends AutoRouteObserver {
  @override
  void didPush(Route<dynamic> route, Route<dynamic>? previousRoute) {
    super.didPush(route, previousRoute);
    _trackScreen(route.settings.name);
  }

  @override
  void didInitTabRoute(TabPageRoute route, TabPageRoute? previousRoute) {
    _trackScreen(route.name);
  }

  @override
  void didChangeTabRoute(TabPageRoute route, TabPageRoute previousRoute) {
    _trackScreen(route.name);
  }

  void _trackScreen(String? name) {
    if (name != null) {
      // TODO: wire to AnalyticsService.trackScreen(name)
      AppLogger.d('[Analytics] Screen: $name');
    }
  }
}
{{/AUTO_ROUTE}}
