import 'package:flutter/material.dart';
{{#RIVERPOD}}
import 'package:flutter_riverpod/flutter_riverpod.dart';
{{/RIVERPOD}}
{{#BLOC}}
import 'package:flutter_bloc/flutter_bloc.dart';
{{/BLOC}}
{{#PROVIDER}}
import 'package:provider/provider.dart';
{{/PROVIDER}}
{{#L10N}}
import 'package:flutter_localizations/flutter_localizations.dart';
import 'package:flutter_gen/gen_l10n/app_localizations.dart';
{{/L10N}}

import 'package:{{PACKAGE_NAME}}/core/theme/app_theme.dart';
import 'package:{{PACKAGE_NAME}}/core/router/app_router.dart';

{{#RIVERPOD}}
class App extends ConsumerWidget {
  const App({super.key});

  @override
  Widget build(BuildContext context, WidgetRef ref) {
{{#GO_ROUTER}}
    final router = ref.watch(routerProvider);
{{/GO_ROUTER}}

    return MaterialApp.router(
      title: {{PRODUCT_NAME_ESCAPED}},
      theme: AppTheme.light,
      darkTheme: AppTheme.dark,
{{#GO_ROUTER}}
      routerConfig: router,
{{/GO_ROUTER}}
{{#AUTO_ROUTE}}
      routerConfig: _appRouter.config(),
{{/AUTO_ROUTE}}
{{#L10N}}
      localizationsDelegates: const [
        AppLocalizations.delegate,
        GlobalMaterialLocalizations.delegate,
        GlobalWidgetsLocalizations.delegate,
        GlobalCupertinoLocalizations.delegate,
      ],
      supportedLocales: AppLocalizations.supportedLocales,
{{/L10N}}
    );
  }
}
{{#AUTO_ROUTE}}

final _appRouter = AppRouter();
{{/AUTO_ROUTE}}
{{/RIVERPOD}}
{{#BLOC}}
class App extends StatelessWidget {
  const App({super.key});

  @override
  Widget build(BuildContext context) {
    return MultiBlocProvider(
      providers: [
        // TODO: add BlocProviders for each feature bloc
      ],
      child: MaterialApp.router(
        title: {{PRODUCT_NAME_ESCAPED}},
        theme: AppTheme.light,
        darkTheme: AppTheme.dark,
{{#GO_ROUTER}}
        routerConfig: AppRouter.router,
{{/GO_ROUTER}}
{{#AUTO_ROUTE}}
        routerConfig: _appRouter.config(),
{{/AUTO_ROUTE}}
{{#L10N}}
        localizationsDelegates: const [
          AppLocalizations.delegate,
          GlobalMaterialLocalizations.delegate,
          GlobalWidgetsLocalizations.delegate,
          GlobalCupertinoLocalizations.delegate,
        ],
        supportedLocales: AppLocalizations.supportedLocales,
{{/L10N}}
      ),
    );
  }
}
{{#AUTO_ROUTE}}

final _appRouter = AppRouter();
{{/AUTO_ROUTE}}
{{/BLOC}}
{{#PROVIDER}}
class App extends StatelessWidget {
  const App({super.key});

  @override
  Widget build(BuildContext context) {
    return MultiProvider(
      providers: [
        // TODO: add ChangeNotifierProviders for each feature
      ],
      child: MaterialApp.router(
        title: {{PRODUCT_NAME_ESCAPED}},
        theme: AppTheme.light,
        darkTheme: AppTheme.dark,
{{#GO_ROUTER}}
        routerConfig: AppRouter.router,
{{/GO_ROUTER}}
{{#AUTO_ROUTE}}
        routerConfig: _appRouter.config(),
{{/AUTO_ROUTE}}
{{#L10N}}
        localizationsDelegates: const [
          AppLocalizations.delegate,
          GlobalMaterialLocalizations.delegate,
          GlobalWidgetsLocalizations.delegate,
          GlobalCupertinoLocalizations.delegate,
        ],
        supportedLocales: AppLocalizations.supportedLocales,
{{/L10N}}
      ),
    );
  }
}
{{#AUTO_ROUTE}}

final _appRouter = AppRouter();
{{/AUTO_ROUTE}}
{{/PROVIDER}}
