import 'package:flutter/material.dart';
{{#GO_ROUTER}}
import 'package:go_router/go_router.dart';
{{/GO_ROUTER}}
{{#AUTO_ROUTE}}
import 'package:auto_route/auto_route.dart';
{{/AUTO_ROUTE}}
{{#RIVERPOD}}
import 'package:flutter_riverpod/flutter_riverpod.dart';
import 'package:riverpod_annotation/riverpod_annotation.dart';
{{/RIVERPOD}}

import 'package:{{PACKAGE_NAME}}/core/router/analytics_observer.dart';
import 'package:{{PACKAGE_NAME}}/features/home/presentation/home_screen.dart';

{{#GO_ROUTER}}
{{#RIVERPOD}}
part 'app_router.g.dart';

@riverpod
GoRouter router(Ref ref) {
  return GoRouter(
    initialLocation: '/',
    observers: [AnalyticsObserver()],
    routes: [
      GoRoute(
        path: '/',
        name: 'home',
        builder: (context, state) => const HomeScreen(),
      ),
      // TODO: add feature routes from decisions.json
    ],
  );
}
{{/RIVERPOD}}
{{^RIVERPOD}}
abstract final class AppRouter {
  static final router = GoRouter(
    initialLocation: '/',
    observers: [AnalyticsObserver()],
    routes: [
      GoRoute(
        path: '/',
        name: 'home',
        builder: (context, state) => const HomeScreen(),
      ),
      // TODO: add feature routes from decisions.json
    ],
  );
}
{{/RIVERPOD}}
{{/GO_ROUTER}}
{{#AUTO_ROUTE}}
part 'app_router.gr.dart';

@AutoRouterConfig()
class AppRouter extends RootStackRouter {
  @override
  List<AutoRoute> get routes => [
        AutoRoute(page: HomeRoute.page, initial: true),
        // TODO: add feature routes from decisions.json
      ];

  @override
  List<AutoRouteGuard> get guards => [
        // TODO: add auth guard if auth enabled
      ];
}
{{/AUTO_ROUTE}}
